.header {
    width: 100%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px calc((1rem / 16) * 6) calc((1rem / 16) * 18) #0000000f;
            box-shadow: 0px calc((1rem / 16) * 6) calc((1rem / 16) * 18) #0000000f;
    padding: 1.5rem;
    font-size: calc((1rem / 16) * 14);
    line-height: 1;
    position: relative;
    z-index: 3;
    min-height: 3.75rem;
    max-height: 3.75rem;
}


.logo {
    display: block;
    width: 4.5rem;
}

.note {
    width: 1rem;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;    
}

.note_active::after {
    content: '';
    background: #BE1000;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.lang {
    position: relative;
    height: 100%;
    width: 3.625rem;
    
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 0.85rem;
    line-height: 1.5rem;
    z-index: 2;
    background-color: #FFFFFF;
}

.lang__select {
    height: 100%;
    padding-left: 1.0625rem;
    padding-right: 0.875rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 3;
    top: -1.5rem;
    cursor: pointer;
}


.lang__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.5rem;
    top: 2.25rem;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 0 0 0.25rem 0.25rem;
    box-shadow: none;
    z-index: 1;
    transform: translateY(-100%) scale(0.8); 
    transition: 0.4s ease;
}

.lang_open .lang__list {
    transform: translateY(0) scale(1);
    box-shadow: 0px 0.375rem 1.125rem rgba(0, 0, 0, 0.1);
}

.lang__item {    
    padding-left: 1.0625rem;
    padding-right: 0.875rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 0.0625rem solid #F0F0F0;
    transition: 0.4s;
}

.lang__item:hover {
    color: var(--green-dark);
}