::-webkit-scrollbar {
    width: 0;
}

body {
    width: 100%;

    background: #FFFFFF;
    color: #777777;

    font-size: calc((1rem / 16) * 14);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;

    letter-spacing: 0.01rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;    
}

.main {
    width: 100%;
    min-height: calc(100% - (1rem / 16) * 14 - 3rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: scroll;
    padding: 1rem 0;
}