.content-wrap {
    min-height: calc(100vh - 3.75rem);
    max-height: calc(100vh - 3.75rem);
    min-height: calc(var(--vh, 1vh) * 100 - 3.75rem);
    max-height: calc(var(--vh, 1vh) * 100 - 3.75rem);
    height: calc(var(--vh, 1vh) * 100 - 3.75rem);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.main {
    width: calc(100% - 3.5rem);
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;

    position: relative;
    z-index: 1;
}

.main::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.map {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Map controls */

.gm-fullscreen-control {
    display: none;
}

.map__screan-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    right: 1.5rem;
    background-color: #FFFFFF;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0.625rem 1.125rem #0000001a;
    overflow: hidden;    
}

.map__screan-control:hover path {
    transition: 0.3s;
    fill: #F95003;
}

.map__screan-btn { 
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1.875rem;
    height: 1.875rem;
}

.map__screan-btn .icon {
    width: 100%;
    height: 100%;
}

.map__scale-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: #FFFFFF;
    box-shadow: 0px 0.625rem 1.125rem #0000001a;
    border-radius: 0.5rem;
}

.map__plus-btn, .map__minus-btn {
    background-color: transparent;
    border: none;
    outline: none;
    width: 3.5rem;
    height: 3.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375rem;
    font-weight: normal;
    color: var(--green);
}

.map__plus-btn {
    border-bottom: 0.0625rem solid #F0F0F0;;
}

.map__scale-control button rect {
    transition: 0.3s ease;
}

.map__scale-control button:hover rect {
    fill: var(--orange);
}

.map__scale-control svg {
    display: block;
    width: 1rem;
}

/* Map aside */ 

.map-aside {
    width: 24rem;
    max-height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    padding: 1.5rem;
    padding-right: 0;
    z-index: 1;

    display: flex;
    overflow: hidden;
}

.map-aside__inner {
    width: 100%;
    max-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-shrink: 1;
    overflow: hidden;
    position: relative;    
    border-radius: 0.5rem;    
    background-color: #FFFFFF;
    box-shadow: 0.375rem 0px 1.175rem #0000000f;
}

.map-aside-item {
    overflow-y: scroll;
    max-height: 100%;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
}

.map-aside .helpfi___btn {
    margin: 0 auto;
}

.map-aside .helpfi___btn::after {
    background: -o-linear-gradient(left, #03A868 0%, #00783D 100%);
    background: -webkit-gradient(linear, left top, right top, from(#03A868), to(#00783D));
    background: linear-gradient(90deg, #03A868 0%, #00783D 100%);
}

.map-aside__list-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    padding-top: 0.625rem;
    padding-bottom: 0.875rem;
    padding-left: 5rem;
    padding-right: 0.75rem;

    font-family: "Century Gothic";
    font-size: 0.875rem;
    line-height: 1.5rem;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
            font-feature-settings: 'pnum' on, 'lnum' on;
    color: rgba(0, 0, 0, 0.5);
    border-top: 0.0625rem solid #0000001f;
    position: static;
    z-index: 2;
    cursor: pointer;
}

.map-aside__list-head_active {
    -webkit-box-shadow: 0px 0.25rem 0.5rem #00000040;
            box-shadow: 0px 0.25rem 0.5rem #00000040;
}

.map-aside__list-head:first-child {
    border-top: none;
}

.map-aside__list-head .icon {
    margin-left: auto;
    width: 1.25rem;
    height: 1.25rem;
}

.map-aside__list_hidden {
    transform: scaleY(0);
    display: none;
}

.map-aside__list {
    overflow-y: scroll;
    position: static;
    z-index: 1;
    transform: scaleY(1);    
}

.map-aside__item {
    padding: 1rem;
    font-family: "Century Gothic";
    font-size: 1rem;
    line-height: 1.5rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
            font-feature-settings: 'pnum' on, 'lnum' on;
    color: #777777;
    border-bottom:  #F0F0F0 solid 0.0625rem;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.map-aside__item:hover {
    background-color: #F2F9FF;
}

.map-aside__item .cat-icon {
    width: 2.5rem;
    margin-right: 1rem;
}

.map-aside__item .arrow-icon {
    width: 1.5rem;
    margin-left: auto;
    transition: 0.3s ease;
}

.servise-cat .arrow-icon {
    transform-origin: center;
    transform: rotate(90deg) scale(1, 1);
}

.map-aside__item_open .arrow-icon {
    transform-origin: center;
    transform: rotate(90deg) scale(-1, -1);;
}

.servise-list, .servise-cat {
    flex-shrink: 1;
}

.map-aside__podcat .map-aside__item:first-child {
    box-shadow: inset 0px 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.15);
}

.map-aside__podcat .map-aside__item:last-child {
    box-shadow: inset 0px -0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.15);
}
 
.map-aside-top {
    width: 100%;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    overflow: hidden;
    box-shadow: 0px 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 20;
}

.map-aside-top .map-aside-item {
    overflow: hidden;
}

.back__btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: calc(50% - 0.75rem);
    left: 1rem;
    transform: scale(-1, 1);
    display: none;
    cursor: pointer;
    z-index: 20;
}

.search-servise_back .back__btn:hover path {
    fill: var(--orange);
}

.search-servise_back .back__btn {
    display: block;
}

.search-servise_back .input{
    padding-left: 3rem;
}

.search-servise_back .input-wrap::before {
    left: 3rem;
}


/* Map switch */

.map-aside__switch-wrap {
    position: absolute;
    width: 6.6875rem;
    height: 3.5rem;
    top: 1.5rem;
    left: 25.5rem;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    z-index: 2;
    box-shadow: 0px 0.375rem 1.125rem #0000001a;
}

.map-aside__switch-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: transparent;
    outline: none;
    border: none;
    overflow: hidden;
    padding: 0 0.625rem;
}

.map-aside__switch-btn .icon {
    width: 2.25rem;
    height: 2.5rem;
    position: relative;
    z-index: 2;
    display: block;
}

.map-aside__switch-btn svg {
    width: 100%;
    height: 100%;
}

.map-aside__switch-btn .tumbler {
    position: absolute;
    left: 0.3125rem;
    top: 0.3125rem;
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 0.5rem;
    z-index: 1;
    background: linear-gradient(90deg, #03A868 0%, #00783D 100%);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 

    box-shadow: 0px 0.0625rem 0.25rem #00000040;
    left: 3.5rem;
}

.map-aside__switch-btn_service .tumbler {
    left: 0.3125rem;
}

.map-aside__switch-btn path {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.map-aside__switch-btn_service .car-icon path {
    fill: #808080;
}

.map-aside__switch-btn_service .people-icon path {
    fill: #FFFFFF;
}

.top .map-aside__switch-wrap {
    position: static;

    background-color: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: inset 0px 0.0625rem 0.25rem 0.125rem #0000001a;
    margin-left: 9.725rem;
    width: 4.75rem;
    height: 2.5rem;
    
}

.top .map-aside__switch-btn {
    padding: 0.25rem;
}

.top .map-aside__switch-btn .tumbler {
    width: 2rem;
    height: 2rem;
    top: 0.25rem;
    bottom: 0.25rem;
    left: 2.5rem;
}

.top .map-aside__switch-btn_service .tumbler {
    left: 0.25rem;
}

.top .map-aside__switch-btn .icon {
    width: 2rem;
}

/* Map forms input */

.input-wrap {
    display: block;
    width: 100%;
    background: #FFFFFF;
    border: none;
    border-bottom: 0.0625rem solid #EEEEEE;
    border-top: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0;
    position: relative;
    margin: 0;
}

.input-wrap::before {
    left: 1rem;
    padding: 0;
}

.input-wrap_inp::before {
    color: #03A869;
    font-size: calc((1rem / 16) * 12);
    line-height: 1;
    top: calc((1rem / 16) * 11);
    left: 1rem;
    background-color: transparent;
}

.input-wrap_inp::after {
    display: none;
}

.input-wrap_focus.input-wrap_error::before {
    color: #BE1000;
}

.input-wrap_focus::before {
    color: #03A869;
    font-size: calc((1rem / 16) * 12);
    line-height: 1;
    top: calc((1rem / 16) * 11);
    background-color: transparent;
}

.input {
    padding-left: 1rem;
    padding-top: 1.375rem;
    padding-right: 3.5rem;
    padding-bottom: 0.625rem;

    border-radius: 0.25rem;
    z-index: 3;
    position: relative;
    background-color: transparent;
}

.input-btn {
    display: flex;
    width: 1.625rem;
}

.input-btn .icon {
    display: block;
    max-height: 100%;
}

.input-wrap .icon path{
    fill: #777777;
    transition: 0.4s;
}

.input-wrap .icon:hover path {
    fill: #03A869;
}

.geo-self .clear-btn, .search-servise .clear-btn {
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
}

.geo-self .input-wrap_inp .clear-btn, .search-servise .input-wrap_inp .clear-btn {
    visibility: visible;
    opacity: 1;
}

.geo-self .geo-btn, .search-servise .list-btn {
    transition: 0.4s ease;
    visibility: visible;
    opacity: 1;
}

.geo-self .input-wrap_inp .geo-btn, .search-servise .input-wrap_inp .list-btn {
    visibility: hidden;
    opacity: 0;
}

.filter-btn {
    right: 3rem;
}

.filter-btn, .share-btn {
    transition: 0.4s ease;
    visibility: hidden;
    opacity: 0;
}

.search-servise_users .filter-btn, .search-servise_users .share-btn {
    visibility: visible;
    opacity: 1;
} 

.search-servise_users .input-wrap_inp .list-btn, .search-servise_users .input-wrap_inp .clear-btn {
    visibility: hidden;
    opacity: 0;
}

/* Users */

.users-list {
    flex-shrink: 1;
}

.user-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 1.125rem;
    padding-top: calc((1rm / 16) * 15);
    border-bottom: #F0F0F0 1px solid;
    cursor: pointer;
    transition: 0.3s ease;
}

.user-item:hover {
    background-color: #F2F9FF;
}

.online-wrap {
    margin-right: 1rem;
}

.user-item__info {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    line-height: 0.8125rem;
}

.online-wrap {
    position: relative;
    margin-right: 1rem; 
}

.table-avatar {
    width: 2.5rem;
    height: 2.5rem;   
}
 
.online-wrap::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 0.75rem;
    height: 0.75rem;
    background: #A8A8A8;
    border: 0.125rem solid #FFFFFF;
    border-radius: 50%;
}

.online-wrap__online::before {
    background: #03A868;
}

.user-item__name {
    font-size: 1rem;
    line-height: 0.8125rem;
    color: #000000;
}

.table__ball {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.table__stars {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25rem;
}

.table__stars .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: calc((1rem / 16) * 6);
}

.user-item__mess-icon {
    width: 0.75rem;
}

.user-item__status {
    display: flex;
    flex-direction: column;    
    font-size: 0.75rem;
    line-height: 0.6875rem;
    font-feature-settings: 'pnum' on, 'lnum' on;
    text-align: right;
}

.user-item__flag{
    color: #03A868;
}

.user-item__distance {
    font-size: 1rem;
    line-height: 1;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #F95003;
    margin: 0.375rem 0;
}

.user-item__adres {
    color: #777777;
}

.create-servise {
    padding: 1rem;
    flex-shrink: 0;
    z-index: 15;
    box-shadow: 0px -0.25rem 1.125rem #00000026;
}

.create-servise .helpfi___btn {
    max-width: 100%;
    width: 100%;
}

.create-servise .helpfi___btn:hover {
    box-shadow: 0px 0.25rem 0.625rem rgba(3, 168, 104, 0.24);
}


/* user info */ 

.user-info {
    flex-shrink: 1;
    overflow-y: scroll;
    max-height: 100%;
}

.user-service-list {
    width: 100%;
    padding: 1rem;
    padding-bottom: 0.3125rem;
    font-size: 0.875rem;
    line-height: 1.6875rem;

    color: #000000de;
}

.user-info__service {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #777777;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.0625rem solid #F0F0F0;
}

.user-info__img-wrap {
    position: relative;
    width: 100%;
    padding-top: 75%;
    height: 0;
}

.user-info__img {
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.user-info-img-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    padding: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 1.5rem;
    background: #000000b3;
    box-shadow: 0px 0.125rem 0.5rem #00000026;
    color: #FFFFFF;
}

.user-info__btns {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-btn {
    background: -o-linear-gradient(left, #03A868 0%, #00783D 100%);
    background: -webkit-gradient(linear, left top, right top, from(#03A868), to(#00783D));
    background: linear-gradient(90deg, #03A868 0%, #00783D 100%);
    -webkit-box-shadow: 0px 0.25rem 0.625rem rgba(3, 168, 104, 0.24);
            box-shadow: 0px 0.25rem 0.625rem rgba(3, 168, 104, 0.24);
    color: #FFFFFF;
    border-color: #03A868;
    border-right-color: #00783D; 
}

.helpfi___btn.phone-btn::after {
    background: -o-linear-gradient(left, #F95003 0%, #BE1000 100%);
    background: -webkit-gradient(linear, left top, right top, from(#F95003), to(#BE1000));
    background: linear-gradient(90deg, #F95003 0%, #BE1000 100%);
}

/* ----- */

.jq-selectbox select, .jq-select-multiple select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.jq-selectbox ul {
    width: 100%;
    border-radius: 0 0 0.25rem 0.25rem;
    max-height: 50vh;
    overflow-y: scroll;
    background-color: #FFFFFF;
    list-style: none;
}

.jq-selectbox li {
    padding: 1rem calc((1rem / 16) * 14);
    background-color: #FFFFFF;
    cursor: pointer;
    border: calc(1rem / 16) solid #03A869;
    border-bottom: 1px solid #F0F0F0;    
    border-top: calc(1rem / 16) solid transparent; 
}

.jq-selectbox li:last-child {
    border-bottom: none;
}

.jq-selectbox li:hover {
    border-color: #F95003;
}

.jq-selectbox li:last-child {
    border-bottom: calc(1rem / 16) solid #03A869;
    border-radius: 0 0 0.25rem 0.25rem;
}

.jq-selectbox li:last-child:hover {
    border-bottom: calc(1rem / 16) solid #F95003;
}

.jq-selectbox li:first-child {
    border-top: 1px solid #F0F0F0;  
}

.jq-selectbox li:first-child:hover {
    border-top: 1px solid #F95003;  
}

.jq-selectbox__search {
    width: 100%;
}

.jq-selectbox__search input {
    width: 100%;
    margin: 0;
    padding: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: calc(1rem / 16) solid #03A869;
    border-bottom: none;
    color: #03A869;
}

.jq-selectbox__search input::-webkit-input-placeholder {
    color: #03A869;
} 

.jq-selectbox__not-found {
    background-color: #FFFFFF;
    border: calc(1rem / 16) solid #03A869;
    border-top: none;
    padding: 1rem;
    border-radius: 0 0 0.25rem 0.25rem;
}

.form-select {
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem;
    height: auto;
    outline: none;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
}
 
.input-short {
    width: 100%;
    min-width: 7rem;
    margin-right: 0.5rem;
}

.timedots {
    margin: 0 0.5rem;
}

.save-adres {
    color: #03A868;
    cursor: pointer;
}

.radio-wrap {
    text-decoration: none;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-right: 1rem;
    flex-wrap: wrap;    
}

.radio-wrap span{
    margin: 0 0.5rem;
}

.map-aside__footer {
    width: 100%;
    position: relative;
    display: flex;
    background-color: #FFFFFF;
}

.footer-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 1rem;
}

.map-footer__btn.helpfi___btn {
    width: 0%;
    padding: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    max-height: 2.625rem;
}

.map-footer__btn_active.helpfi___btn {
    width: 100%;
    margin: 0 auto;
    visibility: visible;
    opacity: 1;
    padding: calc((1rem / 16) * 12);
}

.map-footer__left-btn, .map-footer__right-btn {
    width: 2.625rem;
    height: 2.625rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 0.25rem 0.625rem #03a86833;
    border-radius: 0.25rem;
    transition: 0.3s ease;
    cursor: pointer;

    background: -o-linear-gradient(left, var(--green) 0%, var(--green-dark) 100%);
    background: -webkit-gradient(linear, left top, right top, from(var(--green)), to(var(--green-dark)));
    background: linear-gradient(90deg, var(--green) 0%, var(--green-dark) 100%);
    overflow: hidden;
    margin: 0 !important;
}

.helpfi___btn.map-footer__left-btn::after, .helpfi___btn.map-footer__right-btn::after {
    background: -o-linear-gradient(left, #F95003 0%, #BE1000 100%);
    background: -webkit-gradient(linear, left top, right top, from(#F95003), to(#BE1000));
    background: linear-gradient(90deg, #F95003 0%, #BE1000 100%);
}

.map-footer__left-btn:hover {
    background-color: #F95003;
}

.map-footer__right-btn:hover {
    background-color: #BE1000;
}

button.map-footer__right-btn, button.map-footer__left-btn {
    box-shadow: 0px -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}

.taxi-order, .time-order, .info-order {
    flex-shrink: 1;
    max-height: 100%;
}

.footer-popup__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.0625rem #F0F0F0 solid;
    padding: 1rem;
}

.footer__popup .footer-popup__item:last-child {
    border-bottom: none;
}

.footer-popup__item-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer__radio {
    display: none;
}

.jq-selectbox__select {
    min-height: 0;
}

.jq-selectbox__select-text {
    margin-top: 0.25rem;
}

.phone__select .jq-selectbox__select {
    padding-left: 2.8rem;
    padding-right: 0;
    padding-top: 1.125rem;
    padding-bottom: 0.375rem;
}

.phone-wrap input {
    padding-left: 0;
}

.phone-wrap .flag {
    top: calc(50%);
}

.answer-order {
    padding: 1.5rem;
    text-align: center;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
}

.answer-order h3 {
    text-align: center;
    font-family: "Century Gothic";
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1;
    margin-top: 0.5rem;
    color: #03A868;
}

.input-wrap::after {
    display: none;
}

.map-aside-footer {
    overflow-y: scroll;
    flex-shrink: 1;
}

.aside {
    min-height: calc(100vh - 3.75rem);
    max-height: calc(100vh - 3.75rem);
    min-height: calc(var(--vh, 1vh) * 100 - 3.75rem);
    max-height: calc(var(--vh, 1vh) * 100 - 3.75rem);
    height: calc(var(--vh, 1vh) * 100 - 3.75rem);
}

@media (max-width: 846px) {  
    .top .map-aside__switch-wrap {   
        display: block;
    }

    .main .map-aside__switch-wrap {
        display: none;
    }
}

@media (max-width: 768px) {  
    .top .map-aside__switch-wrap {
        margin-left: 1.625rem;
    }
}


@media (max-width: 576px) {  
    .main {
        margin: 0;
        width: 100%;
    }

    .map__screan-control {
        display: none;
    }

    .map__scale-control {
        display: none;
    }

    .map-aside {
        width: 100%;
        padding: 0;
        border-radius: none;
    }

    .top .map-aside__switch-wrap {
        margin-left: auto;
    }

    .note {
        margin-left: 1rem !important;
    } 

}

@media (max-width: 360px) {  
    .form-select {
        font-size: 0.75rem;
        padding-left: 0.25rem;
    }
}

.hidden {
    display: none !important;
}
