.content-wrap {
    min-height: calc(100vh - 3.75rem);
    max-height: calc(100vh - 3.75rem);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.main {
    width: calc(100% - 3.5rem);
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 1rem;

    position: relative;
    z-index: 1;
}

.table__head {
    -ms-grid-columns: 21% 0% 29% 0% 25% 0% 25%;
    grid-template-columns: 21% 29% 25% 25%;
} 

.table__item {
    -ms-grid-columns: 21% 0% 29% 0% 25% 0% 25%;
    grid-template-columns: 21% 29% 25% 25%;
}

.forecast__item_active .card {
    background-color: #FEF2EC;
}

.jq-selectbox__dropdown ul li:hover {
    background-color: #FEF2EC;
}

.table__item_active {
    background-color: #FEF2EC;
}

.table__head-date {
    padding-right: 26%;
    padding-left: 1rem;
}

.table__head-ball {
    text-align: right;
    padding-right: 1.5rem;
}

.table__ball {
    justify-content: flex-end;
    padding-right: 1.5rem;
}

.table__data {
    padding-right: 26%;
    padding-left: 1rem;
}


@media (max-width: 768px) {
    .main {
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
    }
}

@media (max-width: 576px) {
    .main {
        margin: 0;
        width: 100%;
    }
}