.jq-selectbox ul {
    width: 100%;
    border-radius: 0 0 0.25rem 0.25rem;
    max-height: 50vh;
    overflow-y: scroll;
    background-color: #FFFFFF;

}

.jq-selectbox li {
    padding: 1rem calc((1rem / 16) * 14);
    background-color: #FFFFFF;
    cursor: pointer;
    border: calc(1rem / 16) solid #03A869;
    border-bottom: 1px solid #F0F0F0;    
    border-top: calc(1rem / 16) solid transparent; 
}

.jq-selectbox li:last-child {
    border-bottom: none;
}

.jq-selectbox li:hover {
    border-color: #F95003;
}

.jq-selectbox li:last-child {
    border-bottom: calc(1rem / 16) solid #03A869;
    border-radius: 0 0 0.25rem 0.25rem;
}

.jq-selectbox li:last-child:hover {
    border-bottom: calc(1rem / 16) solid #F95003;
}

.jq-selectbox li:first-child {
    border-top: 1px solid #F0F0F0;  
}

.jq-selectbox li:first-child:hover {
    border-top: 1px solid #F95003;  
}

.jq-selectbox__search {
    width: 100%;
}

.jq-selectbox__search input {
    width: 100%;
    margin: 0;
    padding: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: calc(1rem / 16) solid #03A869;
    border-bottom: none;
    color: #03A869;
}

.jq-selectbox__search input::-webkit-input-placeholder {
    color: #03A869;
} 

.jq-selectbox__not-found {
    background-color: #FFFFFF;
    border: calc(1rem / 16) solid #03A869;
    border-top: none;
    padding: 1rem;
    border-radius: 0 0 0.25rem 0.25rem;

}

.rules-checkbox-wrap::after {
    display: none;
}

.select-wrap.input-wrap_inp {
    display: block;
}

.siginup-btn {
    background: -o-linear-gradient(left, #03A868 0%, #00783D 100%);
    background: -webkit-gradient(linear, left top, right top, from(#03A868), to(#00783D));
    background: linear-gradient(90deg, #03A868 0%, #00783D 100%);
    -webkit-box-shadow: 0px 0.25rem 0.625rem #03a8683d;
            box-shadow: 0px 0.25rem 0.625rem #03a8683d;
    color: #FFFFFF;
    border-color: #03A868;
    border-right-color: #00783D;
    max-width: 15rem;
    width: fit-content;
}

.siginup-btn:hover {
    -webkit-box-shadow: 0px 0.25rem 0.625rem #f950033d;
            box-shadow: 0px 0.25rem 0.625rem #f950033d;    
    border-color: #F95003;
    border-right-color: #BE1000;   
}

.siginup-btn:after {
    background: -o-linear-gradient(left, #F95003 0%, #BE1000 100%);
    background: -webkit-gradient(linear, left top, right top, from(#F95003), to(#BE1000));
    background: linear-gradient(90deg, #F95003 0%, #BE1000 100%);
}