.content-wrap {
    min-height: calc(100vh - 3.75rem);
    max-height: calc(100vh - 3.75rem);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.main {
    width: calc(100% - 3.5rem);
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 1rem;

    position: relative;
    z-index: 1;
}

.title {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #A8A8A8;
    margin: 0;
}

.table__item_active {
    background-color: #FEF2EC;
}

.delete-btn {
    border: none;
    overflow: hidden; 
    background: -o-linear-gradient(left, #F95003 0%, #BE1000 100%); 
    background: -webkit-gradient(linear, left top, right top, from(#F95003), to(#BE1000)); 
    background: linear-gradient(90deg, #F95003 0%, #BE1000 100%);
    -webkit-box-shadow: 0px 0.25rem 0.625rem #f9500380;
            box-shadow: 0px 0.25rem 0.625rem #f9500380;    
}

.delete-btn:hover{
    -webkit-box-shadow: 0px 0.25rem 0.625rem rgba(3, 168, 104, 0.24);
            box-shadow: 0px 0.25rem 0.625rem rgba(3, 168, 104, 0.24);
}

.forecast__item_active .card {
    background-color: #FEF2EC;
}

.forecast__item_active .card__title {
    color: #F95003;
}

.jq-selectbox__dropdown ul li:hover {
    background-color: #FEF2EC;
}

.delete-btn:hover {
    -webkit-box-shadow: 0px 4px 10px rgba(3, 168, 104, 0.5);
            box-shadow: 0px 4px 10px rgba(3, 168, 104, 0.5);
}

.table__head-statistics {
    color: #ff833d;
}


@media (max-width: 768px) {
    .main {
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
    }
}

@media (max-width: 576px) {
    .main {
        margin: 0;
        width: 100%;
    }
}