.content-wrap {
    min-height: calc(100vh - 3.75rem);
    max-height: calc(100vh - 3.75rem);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.main {
    width: calc(100% - 3.5rem);
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 1rem;

    position: relative;
    z-index: 1;
}


.title {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    color: #A8A8A8;
    margin: 0;
}

.forecast {
    margin: 0;
    padding: 0 15px;
} 

.card {
    border: none;
    border-radius: 0;
    padding: calc((1rem / 16) * 18) 1.5rem;
    -webkit-filter: drop-shadow(0px 6px 18px rgba(0, 0, 0, 0.06));
            filter: drop-shadow(0px 6px 18px rgba(0, 0, 0, 0.06));
}

.card_active {
    background: #F2F9FF;
}

.card_active .card__title {
    color: #03A868;
}

.card__title {
    font-weight: bold;
    font-size: calc((1rem / 16) * 18);
    line-height: 1.5rem;
}

.forecast__item .card__title {
    text-align: center;
}

.forecast__title {
    font-size: calc((1rem / 16) * 15);
    line-height: calc((1rem / 16) * 22);
    color: #777777;
    opacity: 0.5;
    margin-right: auto;
}

.forecast__value {
    font-size: 1.5rem;
    line-height: calc((1rem / 16) * 36);
}

.value-month {
    color: #F95003;
}

.value-year {
    color: #03A868;
}

.caution {
    color: #BE1000;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
}

.forecast__value.low {
    color: #F95003;
}

.forecast__value.low .percentage-place-active{
    color: #BE1000;
}

.forecast__value.full {
    color: #03A868;
}

.add-places::after {
    border-radius: none;
}

.add-places {
    width: 1.125rem;
    height: 1.125rem;
    border: none;
    overflow: hidden;
    border-radius: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    float: right;
    margin: 0.25rem 0;
    padding: 0;
    line-height: 0;

    background: linear-gradient(90deg, #03A868 0%, #00783D 100%);
    box-shadow: 0px 0.25rem 0.625rem #03a86833;

}

.add-places span {
    width: 0.5625rem;
}

.delete-btn{
    border: none;
    overflow: hidden;
}

.coments-wrap .table__head{
    -webkit-box-shadow: inset 0px 12px 18px -18px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0px 12px 18px -18px rgba(0, 0, 0, 0.6);
}

.coments-wrap .table__item:last-child{
    -webkit-box-shadow: inset 0px -12px 18px -18px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0px -12px 18px -18px rgba(0, 0, 0, 0.6);
}

.delete-btn::after {
    background: -o-linear-gradient(left, #F95003 0%, #BE1000 100%);
    background: -webkit-gradient(linear, left top, right top, from(#F95003), to(#BE1000));
    background: linear-gradient(90deg, #F95003 0%, #BE1000 100%);
}

.forecast__item {
    transition: 0.3s ease;
}

.forecast__item:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .main {
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
    }
}

@media (max-width: 576px) {
    .main {
        margin: 0;
        width: 100%;
    }
}
